* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.container {
    position: fixed;
    top: 15%;
    left: 40%;
    width: fit-content;
    padding: 30px;
    border: black solid 3px;
    background-color: skyblue;

}
